:root{
  --reach-dialog: 1;
}

.center {
    margin: 0;
    position: absolute;
    top: 50%;
    left: 50%;
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
  }

.spinner {
  animation: spin infinite 1.5s linear;

  /*You can increase or decrease the timer (5s) to 
    increase or decrease the speed of the spinner*/
}

@keyframes spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
  }

.hover-danger:hover {
  color: #dc3545;
}

.hover-primary:hover  {
  color: #0d6efd;
}

.hover-success:hover  {
  color: #198754;
}

.cursor-pointer {
  cursor: pointer;
}

.wrapper{
  min-height: calc(100vh - 56px);
}

.selected-row {
  --bs-table-bg-state: #f4f4f4; 
}

[data-reach-dialog-content],
.center {
  margin: 0;
  position: absolute;
  top: 50%;
  left: 50%;
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
}

[data-reach-dialog-overlay] {
	background: hsla(0, 0%, 0%, 0.33);
	position: fixed;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
	overflow: auto;
}

[data-reach-dialog-content] {
	width: 450px;
	background: white;
  border-radius: 10px;
	padding: 2rem;
	outline: none;
}

[data-reach-alert-dialog-label] {
  font-size: 23px;
}
.new-color{
  color: #9570bc;
}

.frame-container {
  border: 4px solid #a37ccc; /* Grubość i kolor ramki */
  padding: 40px; /* Odstęp wewnątrz ramki */
  border-radius: 40px; /* Zaokrąglenie rogów ramki */
  border-width : 5px;
  max-width: 60%;
  margin: 0 auto;
}
.table-color {
  background-color:#a37ccc; /* Twój wybrany kolor tła */
  color: #f4f4f4; /* Twój wybrany kolor tekstu */
}
